@import "../../styles/variables";
.ProjectContainer{
    padding-top: 7rem;
}
.Project{
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 4rem 2vw;
    @media screen and (max-width: 821px){
        flex-direction: column;
        padding: 6rem 15vw 1rem 0.5rem
    }
    .ProjectInfo{
        // position: fixed;
        left: 3vw;
        background-color: white;
        border-radius: 45px;
        border: 4px solid $text-color;
        padding: 1.5vw 2.1vw;
        width: 100%;
        max-width: 600px;
        font-size: 1.2rem;
        font-weight: 500;
        pointer-events: none; 
        position: relative;
        @media screen and (max-width: 821px){
            padding: 3.5vw 4.1vw;
        }
        p{
            margin-top: 0;
        }
        &:before{
            content: "";
            background: url(../../../public/assets/img/character_menu.png) no-repeat;
            background-size: contain;
            width: 200px;
            height: 266px;
            display: block;
            position: absolute;
            right: -138px;
            top: -141px;
            @media screen and (max-width: 821px){
                width: 189px;
                height: 227px;
                right: -138px;
                top: -120px;
            }
            
        }
        h1{
            position: absolute;
            margin-top: -90px;
            margin-left: -35px;
            img{
                width: 270px;
                height: auto;
            }
            @media screen and (max-width: 821px){
                margin-left: 0;
                margin-top: -75px;
                img{
                    height: 37px;
                    width: auto;
                }
            }
        }
        h2{
            display: block;
            background-position: center bottom;
            background: url(../../../public/assets/img/dot_hor.svg) repeat-x;
            background-size: 182px 3px;
            background-position: bottom;
            margin: 0;
            font-size: 2.2rem;
            padding-bottom: 1rem;
            margin-bottom: .7rem;
            @media screen and (max-width: 821px){
                font-size: 1.5rem;
                padding: .5rem
            }
        }
    }
}
.Gallery{
    width: 100%;
    max-width: 700px;
    ul{
        li{
            list-style-type: none;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}